USE [master]
GO
/****** Object:  Database [BD_COSTA_RICA]    Script Date: 20/1/2021 00:30:35 ******/
CREATE DATABASE [BD_COSTA_RICA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD_COSTA_RICA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_COSTA_RICA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_COSTA_RICA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\BD_COSTA_RICA_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD_COSTA_RICA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD_COSTA_RICA]
GO
/****** Object:  Table [dbo].[VENTAS_CR]    Script Date: 20/1/2021 00:30:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS_CR](
	[Factura] [varchar](50) NULL,
	[Fecha] [date] NULL,
	[FechaVencimiento] [date] NULL,
	[Cliente] [varchar](50) NULL,
	[Producto] [varchar](50) NULL,
	[Cantidad] [decimal](20, 4) NULL,
	[Moneda] [varchar](50) NULL,
	[Precio] [decimal](20, 4) NULL,
	[Total] [decimal](20, 4) NULL,
	[Almacen] [varchar](50) NULL,
	[Vendedor] [varchar](50) NULL,
	[TotalUSD] [decimal](20, 4) NULL,
	[Impuesto] [decimal](20, 4) NULL,
	[ImpuestoUSD] [decimal](20, 4) NULL,
	[TipoDeCambio] [decimal](20, 4) NULL,
	[Ganancia] [decimal](20, 4) NULL,
	[GananciaUSD] [decimal](20, 4) NULL
) ON [PRIMARY]
GO
USE [master]
GO
