USE [master]
GO
/****** Object:  Database [DB_MS_SQL]    Script Date: 20/1/2021 00:31:32 ******/
CREATE DATABASE [DB_MS_SQL]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_MS_SQL', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_MS_SQL.mdf' , SIZE = 139264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_MS_SQL_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DB_MS_SQL_log.ldf' , SIZE = 335872KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_MS_SQL].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_MS_SQL]
GO
/****** Object:  Table [dbo].[FileLoadStatus]    Script Date: 20/1/2021 00:31:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileLoadStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [varchar](100) NULL,
	[LoadDateTime] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTAS_PROGRA2]    Script Date: 20/1/2021 00:31:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTAS_PROGRA2](
	[Factura] [varchar](50) NULL,
	[Fecha] [date] NULL,
	[FechaVencimiento] [date] NULL,
	[Cliente] [varchar](50) NULL,
	[Producto] [varchar](50) NULL,
	[Cantidad] [decimal](20, 4) NULL,
	[Moneda] [varchar](50) NULL,
	[Precio] [decimal](20, 4) NULL,
	[Total] [decimal](20, 4) NULL,
	[Almacen] [varchar](50) NULL,
	[Vendedor] [varchar](50) NULL,
	[TotalUSD] [decimal](20, 4) NULL,
	[Impuesto] [decimal](20, 4) NULL,
	[ImpuestoUSD] [decimal](20, 4) NULL,
	[TipoDeCambio] [decimal](20, 4) NULL,
	[Ganancia] [decimal](20, 4) NULL,
	[GananciaUSD] [decimal](20, 4) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FileLoadStatus] ADD  DEFAULT (getdate()) FOR [LoadDateTime]
GO
USE [master]
GO
