USE [ROCKET-BD2]
GO
/****** Object:  Index [IX_DIM_SALESPERSON]    Script Date: 1/14/2021 2:11:32 AM ******/
DROP INDEX [IX_DIM_SALESPERSON] ON [dbo].[DIM_SALESPERSON]
GO
/****** Object:  Index [IX_DIM_ITEM]    Script Date: 1/14/2021 2:11:32 AM ******/
DROP INDEX [IX_DIM_ITEM] ON [dbo].[DIM_ITEM]
GO
/****** Object:  Index [IX_DIM_EXCHANGE_RATE]    Script Date: 1/14/2021 2:11:32 AM ******/
DROP INDEX [IX_DIM_EXCHANGE_RATE] ON [dbo].[DIM_EXCHANGE_RATE]
GO
/****** Object:  Index [IX_DIM_CLIENT]    Script Date: 1/14/2021 2:11:32 AM ******/
DROP INDEX [IX_DIM_CLIENT] ON [dbo].[DIM_CLIENT]
GO
/****** Object:  Table [dbo].[DIM_SALESPERSON]    Script Date: 1/14/2021 2:11:32 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIM_SALESPERSON]') AND type in (N'U'))
DROP TABLE [dbo].[DIM_SALESPERSON]
GO
/****** Object:  Table [dbo].[DIM_ITEM]    Script Date: 1/14/2021 2:11:32 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIM_ITEM]') AND type in (N'U'))
DROP TABLE [dbo].[DIM_ITEM]
GO
/****** Object:  Table [dbo].[DIM_EXCHANGE_RATE]    Script Date: 1/14/2021 2:11:32 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIM_EXCHANGE_RATE]') AND type in (N'U'))
DROP TABLE [dbo].[DIM_EXCHANGE_RATE]
GO
/****** Object:  Table [dbo].[DIM_CLIENT]    Script Date: 1/14/2021 2:11:32 AM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DIM_CLIENT]') AND type in (N'U'))
DROP TABLE [dbo].[DIM_CLIENT]
GO
USE [master]
GO
/****** Object:  Database [ROCKET-BD2]    Script Date: 1/14/2021 2:11:32 AM ******/
DROP DATABASE [ROCKET-BD2]
GO
/****** Object:  Database [ROCKET-BD2]    Script Date: 1/14/2021 2:11:32 AM ******/
CREATE DATABASE [ROCKET-BD2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ROCKET-BD2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ROCKET-BD2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ROCKET-BD2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ROCKET-BD2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ROCKET-BD2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ROCKET-BD2]
GO
/****** Object:  Table [dbo].[DIM_CLIENT]    Script Date: 1/14/2021 2:11:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_CLIENT](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sn_code] [nvarchar](10) NOT NULL,
	[client_name] [nvarchar](50) NOT NULL,
	[phone_number_client] [nvarchar](20) NULL,
	[payment_conditions_code] [nvarchar](50) NOT NULL,
	[credit_limit] [decimal](20, 4) NOT NULL,
	[sales_person_id] [int] NOT NULL,
	[sn_currency] [nvarchar](20) NOT NULL,
	[invoice_recipient_country_code] [nvarchar](10) NOT NULL,
	[zone_code] [nvarchar](10) NOT NULL,
	[route_name] [nvarchar](30) NOT NULL,
	[channel_code] [int] NOT NULL,
 CONSTRAINT [PK_DIM_CLIENT] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_EXCHANGE_RATE]    Script Date: 1/14/2021 2:11:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_EXCHANGE_RATE](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[update_date] [date] NOT NULL,
	[dollar_purchase_crc] [decimal](20, 4) NOT NULL,
	[dollar_sell_crc] [decimal](20, 4) NOT NULL,
 CONSTRAINT [PK_DIM_EXCHANGE_RATE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_ITEM]    Script Date: 1/14/2021 2:11:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_ITEM](
	[item_id] [nvarchar](20) NOT NULL,
	[aditional_id] [nvarchar](20) NOT NULL,
	[description] [nvarchar](200) NOT NULL,
	[group_name] [nvarchar](20) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_DIM_ITEM] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DIM_SALESPERSON]    Script Date: 1/14/2021 2:11:32 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_SALESPERSON](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sales_person_code] [int] NULL,
	[sales_person_name] [nvarchar](32) NULL,
	[commission_percentage] [int] NOT NULL,
	[block_status] [nvarchar](10) NOT NULL,
	[active_status] [nvarchar](10) NOT NULL,
	[sales_person_email] [nvarchar](50) NULL,
	[collector_status] [nvarchar](10) NULL,
	[promoter_status] [nvarchar](10) NULL,
	[sales_person_type] [nvarchar](20) NULL,
	[sales_channel] [nvarchar](20) NULL,
 CONSTRAINT [PK_DIM_SALESPERSON] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DIM_CLIENT]    Script Date: 1/14/2021 2:11:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_CLIENT] ON [dbo].[DIM_CLIENT]
(
	[client_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_EXCHANGE_RATE]    Script Date: 1/14/2021 2:11:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_EXCHANGE_RATE] ON [dbo].[DIM_EXCHANGE_RATE]
(
	[update_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_DIM_ITEM]    Script Date: 1/14/2021 2:11:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_ITEM] ON [dbo].[DIM_ITEM]
(
	[item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DIM_SALESPERSON]    Script Date: 1/14/2021 2:11:32 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_DIM_SALESPERSON] ON [dbo].[DIM_SALESPERSON]
(
	[sales_person_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
